---
    import "../styles/global.css";
    import { navItems, siteTitle } from '../site.config';
    import NavBar from "../components/NavBar.astro"

    const { currentPath = "/" } = Astro.props;
---

<html lang="en" data-theme="cupcake">

<head>
    <title>{siteTitle}</title>
</head>

<body>
    <NavBar navItems={navItems} currentPath={currentPath} siteTitle={siteTitle}
        class="fixed top-6 left-1/2 -translate-x-1/2 z-50 bg-base-200/80 border border-base-300 shadow-xl rounded-full px-8 py-3 flex items-center gap-8 backdrop-blur-md" />

    <main>
        <div style="height:100px;"></div>
        <slot />
    </main>
</body>

</html>